*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    width: 600px;
    height: 700px;
    background-color: #363337;
    padding: 20px 30px;
    border-radius: 20px;
}

.display{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
    height: 100px;
    margin: 20px auto 20px auto;
    padding: 10px;
    background-color: #becfcc;
}

.previousNumber,
.currentNumber{
    font-family: 'Press Start 2P';
}

.previousNumber{
    font-size: 20px;
}

.currentNumber{
    font-size: 35px;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr); 
    grid-template-rows: minmax(80px,auto) repeat(5,80px);
    grid-gap: 10px;
    padding-top: 50px;
    
}
button{
    border-radius: 20px;
    font-size: 25px;  
    justify-content: center;
    align-items: center; 
    font-family: 'Roboto', sans-serif; 
    color: white;
    background-color: #959595;
    border: none;
}
.span-two{
    grid-column: span 2;
}
.orange{
    font-size: 35px;
    background-color: orange;
}